@use '../../common';

.main-nav {
    background-color: common.$background;
    padding: 0.5em;

    position: fixed;
    left: 0;
    z-index: 999;

    @media (max-width: 540px) {
        width: 100vw;
        bottom: 0;
    }

    ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 1.5em;

        @media (max-width: 540px) {
            flex-flow: row;
            justify-content: space-evenly;
        }
    }

    a,
    .logo {
        padding: 0.8em;
    }

    a.--active {
        background-color: common.$primary-faded;
        border-radius: 8px;
    }

    svg {
        height: 1.75em;
        color: common.$primary;
    }

    li {
        position: relative;
    }
}

.tot-items {
    position: absolute;
    right: 0.75em;
    top: 0.75em;
    z-index: 9999;

    padding: 0.1em 0.35em;
    background: common.$primary;
    color: common.$text-white;
    border-radius: 10px;
    font-size: 0.75rem;
}
