.main-nav {
  background-color: #f4f3ed;
  padding: 0.5em;
  position: fixed;
  left: 0;
  z-index: 999;
}
@media (max-width: 540px) {
  .main-nav {
    width: 100vw;
    bottom: 0;
  }
}
.main-nav ul {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5em;
}
@media (max-width: 540px) {
  .main-nav ul {
    flex-flow: row;
    justify-content: space-evenly;
  }
}
.main-nav a,
.main-nav .logo {
  padding: 0.8em;
}
.main-nav a.--active {
  background-color: rgba(249, 99, 0, 0.08);
  border-radius: 8px;
}
.main-nav svg {
  height: 1.75em;
  color: #e65d03;
}
.main-nav li {
  position: relative;
}

.tot-items {
  position: absolute;
  right: 0.75em;
  top: 0.75em;
  z-index: 9999;
  padding: 0.1em 0.35em;
  background: #e65d03;
  color: #f2f2f2;
  border-radius: 10px;
  font-size: 0.75rem;
}