@use '../../common';

.subnav {
    &.--center-on-small-screens {
        @media (max-width: 875px) {
            align-self: center;

            ul {
                gap: 2.25em;
            }
        }
    }

    ul {
        display: flex;
        gap: 2.25em;
        @include common.themed-scrollbar($direction: x, $width: none);

        @media (max-width: 800px) {
            gap: 0.8em;
        }
    }

    li {
        flex-shrink: 0;
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.75em;

        padding: 0.625em 1em;
        font-size: 1.25rem;

        &.--active {
            background-color: common.$primary-faded;
            border-radius: 8px;
        }
    }

    svg {
        height: 1em;
        color: common.$primary;
    }
}
