.top {
  display: flex;
  flex-flow: column;
  gap: 0.15em;
  position: relative;
  padding-right: 1.5em;
}
.top .restaurant-name {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(34, 34, 34, 0.45);
}
.top .veg-option {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0.25em;
  right: 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom .price {
  font-weight: 500;
  font-size: 1.25em;
  color: #e65d03;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-width: 6.5em;
  background: rgba(249, 99, 0, 0.08);
  border-radius: 5px;
  padding: 0.3125em 0.5em;
  color: #e65d03;
}
.quantity.--recent {
  min-width: 5.5em;
}
.quantity span {
  flex-grow: 1;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
}
.quantity svg {
  width: 1.25em;
}