$background: #f4f3ed;
$primary: #e65d03;
$primary-kinda-faded: rgba(249, 99, 0, 0.75);
$primary-faded: rgba(249, 99, 0, 0.08);
$text-faded: rgba(34, 34, 34, 0.5);
$text-dark: #222222;
$text-white: #f2f2f2;

$card-shadow: 0px 8px 20px 1px rgba(170, 170, 170, 0.3);
