$background: #f4f3ed;
$primary: #e65d03;
$primary-kinda-faded: rgba(249, 99, 0, 0.5);
$primary-faded: rgba(249, 99, 0, 0.08);
$text-faded: rgba(34, 34, 34, 0.45);
$text-dark: #2b2b2b;
$text-white: #f2f2f2;

$card-shadow: 0px 8px 20px 1px rgba(170, 170, 170, 0.3);

@mixin themed-scrollbar($direction, $width) {
    @if $direction == y {
        overflow-y: auto;
    } @else {
        overflow-x: auto;
    }

    @if $width == thin {
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    } @else {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
    }

    scrollbar-color: $primary-kinda-faded rgba(34, 34, 34, 0.15);
    &::-webkit-scrollbar-thumb {
        background-color: $primary-kinda-faded;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(34, 34, 34, 0.15);
    }
}
