/* ========
	Resets
	======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  display: block;
  width: inherit;
  height: inherit;
}

button {
  color: inherit;
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

hr {
  border: none;
}

input[type=text] {
  background: none;
  border: none;
  outline: none;
  display: block;
  font: inherit;
  color: inherit;
  width: 100%;
}

/* ===============
	Global Styles
	=============== */
body {
  font-family: Ubuntu, sans-serif;
  color: #2b2b2b;
  background: #f4f3ed;
  max-width: 130rem;
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 1.1rem;
}

h2 {
  font-weight: 400;
  font-size: 1.25rem;
}

/* ============ 
    App Layout
    =========== */
#root {
  display: flex;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(249, 99, 0, 0.5) transparent;
  flex-grow: 1;
  padding: 1.25em;
  display: flex;
  flex-flow: column;
  gap: 1.75em;
}

.message {
  color: rgba(34, 34, 34, 0.45);
  font-weight: 500;
  font-size: 1.25rem;
}