@use './common';

/* ========
	Resets
	======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    object-fit: cover;
}

svg {
    display: block;
    width: inherit;
    height: inherit;
}

button {
    color: inherit;
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;

    // &:disabled {
    //   cursor: not-allowed;
    //   pointer-events: none;
    // }
}

a {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    border: none;
}

input[type='text'] {
    background: none;
    border: none;
    outline: none;
    display: block;
    font: inherit;
    color: inherit;
    width: 100%;
}

/* ===============
	Global Styles
	=============== */

body {
    font-family: Ubuntu, sans-serif;
    color: common.$text-dark;
    background: common.$background;
}

h1 {
    font-weight: 500;
    font-size: 1.1rem;
}

h2 {
    font-weight: 400;
    font-size: 1.25rem;
}

/* ============ 
    App Layout
    =========== */

html {
    @media (max-width: 540px) {
        font-size: 15px;
    }
}

main {
    height: 100vh;
    @include common.themed-scrollbar($direction: y, $width: thin);

    padding: 1.35em 0.8em 0.8em 0.8em;

    display: flex;
    flex-flow: column;
    gap: 1.75em;

    // For cart at the right
    @media (min-width: 1346px) {
        margin-right: 29rem;
    }

    // For Main-Nav at the left
    @media (min-width: 541px) {
        margin-left: 4.25rem;
    }

    // For Main-Nav at the bottom
    @media (max-width: 540px) {
        padding-bottom: 5.5rem;
    }
}

.message {
    color: common.$text-faded;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}
