@use './common';

/* ========
	Resets
	======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    object-fit: cover;
}

svg {
    display: block;
    width: inherit;
    height: inherit;
}

button {
    color: inherit;
    background: none;
    font: inherit;
    outline: none;
    border: none;
    cursor: pointer;

    // &:disabled {
    //   cursor: not-allowed;
    //   pointer-events: none;
    // }
}

a {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    border: none;
}

input[type='text'] {
    background: none;
    border: none;
    outline: none;
    display: block;
    font: inherit;
    color: inherit;
    width: 100%;
}

/* ===============
	Global Styles
	=============== */

body {
    font-family: Ubuntu, sans-serif;
    color: common.$text-dark;
    background: common.$background;
    max-width: 130rem;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: 1.25rem;
}

h2 {
    font-weight: 400;
    font-size: 1.25rem;
}

/* ============ 
    App Layout
    =========== */

#root {
    display: flex;
}

main {
    height: 100vh;
    @include common.themed-scrollbar;

    flex-grow: 1;
    padding: 1.25em;

    display: flex;
    flex-flow: column;
    gap: 1.75em;
}
