@use '../../common';

.cards-display {
    display: flex;
    flex-flow: column;
    gap: 1em;

    &:not(:last-child) {
        margin-bottom: 0.75em;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23em, 1fr));
    gap: 1.5em 2em;

    & > * {
        width: 100%;
        max-width: 28em;
    }
}
