@use '../../common';

.card {
    background: common.$background;
    box-shadow: common.$card-shadow;

    border-radius: 16px;
    padding: 1em;

    display: flex;
    gap: 1.25em;

    .img {
        border-radius: 12px;
        flex-shrink: 0;

        width: 5.75em;
        height: 5.75em;

        @media (max-width: 540px) {
            width: 5.25em;
            height: 5.25em;
        }
    }

    .details {
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 0.25em;
    }

    &.--reverse .img {
        order: 1;
    }
}
