@use '../../common';

.card {
    background: common.$background;
    box-shadow: common.$card-shadow;

    border-radius: 16px;
    padding: 1em;

    display: flex;
    gap: 1.25em;

    &.--reverse .img {
        order: 1;
    }
}

.img {
    width: 6em;
    height: 6em;
    border-radius: 12px;
    flex-shrink: 0;
}

.details {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0.25em;
}
