@use '../../common';

.cards-display {
    display: flex;
    flex-flow: column;
    gap: 0.4em;

    margin-bottom: 0.75em;
}

.titlebar {
    display: flex;
    flex-flow: column;
    gap: 0.15em;

    padding-left: 0.2em;

    span {
        font-weight: 500;
        font-size: 0.95rem;
        color: common.$text-faded;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23em, 1fr));
    gap: 1.75em 2em;

    & > * {
        width: 100%;
        max-width: 28em;
    }
}
