.card {
  background: #f4f3ed;
  box-shadow: 0px 8px 20px 1px rgba(170, 170, 170, 0.3);
  border-radius: 16px;
  padding: 1em;
  display: flex;
  gap: 1.25em;
}
.card .img {
  border-radius: 12px;
  flex-shrink: 0;
  width: 5.75em;
  height: 5.75em;
}
@media (max-width: 540px) {
  .card .img {
    width: 5.25em;
    height: 5.25em;
  }
}
.card .details {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 0.25em;
}
.card.--reverse .img {
  order: 1;
}