@use '../../common';

.cards-display {
    display: flex;
    flex-flow: column;
    gap: 1em;

    &:not(:last-child) {
        margin-bottom: 0.75em;
    }

    &.--overflowing {
        flex-grow: 1;
        margin: -1.25em;
        padding: 1.25em;
        @include common.themed-scrollbar;
    }
}

.titlebar {
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    gap: 0.1em;

    border: 2px solid common.$primary-faded;
    background: common.$primary-faded;
    padding: 0.35em 0.8em;
    border-radius: 8px;

    .title {
        display: flex;
        align-items: center;
        gap: 0.6em;
    }

    svg {
        height: 1.25em;
        color: common.$primary;
    }

    .subtitle {
        font-weight: 500;
        font-size: 0.95rem;
        color: common.$text-faded;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23em, 1fr));
    gap: 1.75em 2em;

    & > * {
        width: 100%;
        max-width: 28em;
    }
}
