.cards-display {
  display: flex;
  flex-flow: column;
  gap: 1em;
}
.cards-display:not(:last-child) {
  margin-bottom: 0.75em;
}
.cards-display.--overflowing {
  flex-grow: 1;
  margin: -1.25em;
  padding: 1.25em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(249, 99, 0, 0.5) transparent;
}

.titlebar {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  gap: 0.1em;
  border: 2px solid rgba(249, 99, 0, 0.08);
  background: rgba(249, 99, 0, 0.08);
  padding: 0.35em 0.8em;
  border-radius: 8px;
}
.titlebar .title {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.titlebar svg {
  height: 1.25em;
  color: #e65d03;
}
.titlebar .subtitle {
  font-weight: 500;
  font-size: 0.95rem;
  color: rgba(34, 34, 34, 0.45);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23em, 1fr));
  gap: 1.75em 2em;
}
.cards > * {
  width: 100%;
  max-width: 28em;
}