.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1.25em;

    &.--max-height {
        height: 100vh;
    }

    img {
        height: 10em;
        width: 10em;
        border-radius: 20px;
    }

    & > * {
        width: 100%;
        max-width: 350px;
        text-align: center;
    }
}
