.titlebar {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-flow: column;
  gap: 0.15em;
  border: 2px solid rgba(249, 99, 0, 0.08);
  background: rgba(249, 99, 0, 0.08);
  padding: 0.35em 0.8em;
  border-radius: 8px;
}
.titlebar .title {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.titlebar svg {
  height: 1.25em;
  color: #e65d03;
}
.titlebar .subtitle {
  font-weight: 500;
  font-size: 0.95rem;
  color: rgba(34, 34, 34, 0.45);
}