@use '../../common';

.cart {
    min-width: 27em;
    width: 30%;
    max-width: 28em;
    padding: 1em 1.25em;

    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    gap: 1.25em;
}

.empty {
    flex-grow: 1;
    padding-bottom: 15%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;

    .title {
        color: common.$primary;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .subtitle {
        color: common.$text-faded;
        font-size: 1.25rem;
    }
}

.prices {
    display: flex;
    flex-flow: column;
    gap: 0.6em;

    hr {
        background-color: common.$primary-kinda-faded;
        height: 2px;
    }
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
        font-weight: 500;
        font-size: 1.125rem;
        color: common.$text-faded;
    }

    &-value {
        font-weight: 500;
        font-size: 1.25rem;
        color: common.$primary;
    }
}

.checkout {
    padding: 0.7em 1.25em;
    border-radius: 10px;
    background-color: common.$primary;

    color: common.$text-white;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}
