.cart {
  min-width: 27em;
  width: 27.5%;
  padding: 1.25em;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  gap: 1.25em;
}

.dishes {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0 -1.25em;
  padding: 0 1.25em 1em 1.25em;
  scrollbar-width: thin;
  scrollbar-color: rgba(249, 99, 0, 0.75) transparent;
  display: flex;
  flex-flow: column;
  gap: 1.25em;
}
.dishes .dish {
  color: red;
}

.prices {
  display: flex;
  flex-flow: column;
  gap: 0.6em;
  position: relative;
}
.prices hr {
  background-color: rgba(34, 34, 34, 0.5);
  height: 2px;
}

.scroll {
  position: absolute;
  top: -2.5em;
  left: 45%;
  background-color: #f4f3ed;
  box-shadow: 0px 8px 20px 1px rgba(170, 170, 170, 0.3);
  border-radius: 50px;
  padding: 0.5em;
  z-index: 999;
}
.scroll svg {
  color: #e65d03;
  height: 1.5em;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-name {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(34, 34, 34, 0.5);
}
.price-value {
  font-weight: 500;
  font-size: 1.25rem;
  color: #e65d03;
}

.checkout {
  width: 100%;
  padding: 0.75em;
  border-radius: 10px;
  background-color: #e65d03;
  color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}