.cart {
  width: 28.5em;
  padding: 0.8em;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-flow: column;
  gap: 1.25em;
}
@media (min-width: 541px) {
  .cart {
    margin-left: 4.25rem;
  }
}
@media (max-width: 540px) {
  .cart {
    padding-bottom: 5.5rem;
  }
}
@media (max-width: 1345px) {
  .cart {
    height: initial;
    position: initial;
    min-height: 100vh;
    width: 100%;
  }
}

.empty {
  flex-grow: 1;
  padding-bottom: 15%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.empty .title {
  color: #e65d03;
  font-size: 1.5rem;
  font-weight: 500;
}
.empty .subtitle {
  color: rgba(34, 34, 34, 0.45);
  font-size: 1.25rem;
}

.prices,
.checkout {
  align-self: center;
  width: 100%;
  max-width: 30rem;
}

.prices {
  display: flex;
  flex-flow: column;
  gap: 0.6em;
}
.prices hr {
  background-color: rgba(249, 99, 0, 0.5);
  height: 2px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-name {
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(34, 34, 34, 0.45);
}
.price-value {
  font-weight: 500;
  font-size: 1.25rem;
  color: #e65d03;
}

.checkout {
  padding: 0.7em 1.25em;
  border-radius: 10px;
  background-color: #e65d03;
  color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}