.top {
  display: flex;
  flex-flow: column;
  gap: 0.15em;
}
.top .cuisines {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(34, 34, 34, 0.45);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.info svg {
  color: #e65d03;
  width: 1.125em;
}