@use '../../common';

.top {
    display: flex;
    flex-flow: column;
    gap: 0.15em;

    .cuisines {
        font-weight: 500;
        font-size: 0.9rem;
        color: common.$text-faded;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.4em;

    svg {
        color: common.$primary;
        width: 1.125em;
    }
}
