@use '../../common';

.title {
    color: common.$primary;
    font-size: 3.25rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    margin-bottom: 5.5em;
    padding: 0.5em 1em;
    border-radius: 6px;
    background: common.$primary;
    color: common.$text-white;

    span {
        font-weight: 500;
        font-size: 1.25rem;
    }

    svg {
        height: 1.75em;
        width: 1.75em;
    }
}

.made-by {
    padding-inline: 0.75em;
    font-size: 1.25rem;
    font-weight: 500;

    span {
        color: rgb(255, 0, 85);
    }
}

.author {
    display: flex;
    flex-flow: column;
    gap: 0.1em;
    text-align: left;

    .name {
        font-size: 1.3rem;
    }

    .tag {
        font-weight: 500;
        font-size: 0.9rem;
        color: common.$text-faded;
    }
}

.repo {
    padding: 0.3em 0;
    border-radius: 4px;
    background: common.$primary-faded;

    color: common.$primary;
    font-weight: 500;
}
