.button {
  padding: 0.35em 1.25em;
  border-radius: 6px;
  background: #e65d03;
  color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}

.text {
  display: flex;
  flex-flow: column;
  gap: 0.1em;
  text-align: center;
}
.text .name {
  font-size: 2rem;
}
.text .email {
  color: rgba(34, 34, 34, 0.45);
  font-weight: 500;
}