@use '../../common';

.button {
    width: 75%;
    padding: 0.35em 1.25em;
    border-radius: 6px;
    background: common.$primary;
    color: common.$text-white;

    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}

.text {
    display: flex;
    flex-flow: column;
    gap: 0.1em;
    text-align: center;

    .name {
        font-size: 2rem;
    }

    .email {
        color: common.$text-faded;
        font-weight: 500;
    }
}
